<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Költési időszakok szerkesztése</h1>

  <%= render "form", fiscal_period: @fiscal_period %>

  <%= authorized_link_to "Megtekintés", fiscal_periods_path(@fiscal_period), class: "btn-outline" %>
  <%= authorized_link_to "Vissza", fiscal_periods_path, class: "btn-outline" %>
</div>
