<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Új költési időszak</h1>

  <%= render "form", fiscal_period: @fiscal_period %>

  <%= authorized_link_to 'Vissza a költési időszakokhoz', fiscal_periods_path, class: "btn-outline" %>
</div>
