<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Új hír</h1>

  <%= render "form", article: @article %>

  <%= link_to 'Vissza a hírekhez', articles_path, class: "btn-outline" %>
</div>
