<div class="mx-auto md:w-2/3 w-full">
  <div class="mx-auto">
    <%= render @article %>

    <div class="flex items-center gap-4 mb-8" style="flex-wrap: wrap">
      <%= link_to 'Vissza a hírekhez', articles_path, class: "btn-outline" %>
      <%= link_to 'Szerkesztés', edit_article_path(@article), class: 'btn' %>
      <%= button_to 'Törlés', article_path(@article), method: :delete, class: "btn-red",
                    form_class: 'inline ml-auto' %>
    </div>
  </div>
</div>
