<div class="mb-8">
  <div class="flex justify-between">
    <h1 class="text-4xl font-bold"><%= @group.name %> rendelései</h1>
    <%= link_to 'Vissza', for_group_member_statistics_path(params: { group_id: @group.id }), class: 'btn-outline' %>
  </div>
  <%= render @orders %>
</div>