<div id="<%= dom_id group %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= group.name %>
  </p>

  <% if action_name != "show" %>
    <%= authorized_link_to "Show this group", group_path(group), class: "btn" %>
    <%= authorized_link_to 'Edit this group', edit_group_path(group), class: "btn" %>
    <hr class="mt-6">
  <% end %>
</div>
