<div class="mx-auto w-full pb-7 max-w-xl">
  <%= authorized_link_to 'Vissza', users_url, class: 'btn btn-outline' %>
  <%= render 'form', user: @user %>

  <h2 class="text-4xl mt-8">Rendelések</h2>
  <%= render @user.orders %>
</div>
