<div class="w-full">
  <h1 class="font-bold text-4xl">Rendelések</h1>

  <div id="orders" class="min-w-full mb-8">
    <% unless @orders.count.zero? %>
      <%= render @orders %>
    <% else %>

      <div class="mt-4">Nincs aktív megrendelés!</div>
    <% end %>
  </div>
</div>
