<div class="max-w">
    <div class="w-full min-h-full p-4">
        <div class="flex flex-col items-center justify-center min-h-full bg-gray-0 max-w-screen-xl mx-auto">
            <img 
                src="https://http.cat/403" 
                alt="403 Forbidden" 
                class="w-full max-w-[320px] md:max-w-lg shadow-lg rounded-lg mb-4 md:mb-8"
            >
            <h1 class="text-xl md:text-3xl font-bold mb-2 md:mb-4 text-center px-4">
                <%= t('views.links.disabled_title').html_safe %>
            </h1>
        </div>
    </div>
</div>