<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Név:</strong>
    <%= item.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ár:</strong>
    <%= item.price %> JMF
  </p>

  <% if action_name != "show" %>
    <%= authorized_link_to 'Szerkesztés', edit_item_path(item), class: "btn" %>
    <hr class="mt-6">
  <% end %>
</div>
