<%= turbo_frame_tag "order_item_edit_form_order_image_input" do %>
  <div class="row">
    <%= label_tag 'Képfájl' %>
    <%= file_field_tag 'order_item[order_image]', accept: "image/jpeg, image/png", class: "file-form-field" %>
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG (MAX. 10MB).</p>
  </div>
<% end %>