@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'actiontext.css';


@layer components {
  .btn {
    @apply font-bold text-dark  bg-primary border-4 border-primary rounded-lg
    py-3 px-5 font-medium cursor-pointer;
  }

  .btn-outline {
    @apply btn bg-transparent text-light;
  }

  .nav-item {
    @apply p-4 font-bold
    hidden md:block
    ;
  }
  .mobile-nav-item {
    @apply p-4 font-bold bg-secondary w-full text-center;
  }

  .footer-image {
    @apply w-16 md:w-28;
  }
}

body {
  background-color: theme('colors.bg-dark');
  color: theme('colors.light');
}

.trix-button {
  background-color: theme('colors.secondary') !important;
}

.label {
  @apply font-medium;
}
